Synapse/Cartier/pipeline/Pull_WFS_Data_Parent.json
{
	"name": "Pull_WFS_Data_Parent",
	"properties": {
		"activities": [
			{
				"name": "Execute Pull_WFS_Data",
				"description": "Parent pipeline in charge of calling child, child_data_lake_publish_pipeline, to execute the ingestion, transformation & publishing of WFS API data into HRDL.",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Pull_WFS_Data_Child",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"publishDeltaToHRDL": {
							"value": "@pipeline().parameters.publishDeltaToHRDL",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ICMConnectorFunction",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Execute Pull_WFS_Data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "icmConnector",
					"method": "POST",
					"body": {
						"value": "{\nTitle: \"Synapse Analytics pipeline failure: @{pipeline().Pipeline} in @{pipeline().DataFactory} identified a failure\",\nDescriptionText: \"<br><u><b><h3>@{pipeline().Pipeline} in @{pipeline().DataFactory} identified a failure.</h3></b></u><b>Current pipeline Run ID: </b>@{pipeline().RunId}<br><br><b>Pipeline error: </b>@{replace(replace(activity('Execute Pull_WFS_Data').Error.message,'\\','\\\\'),'\"','\\\"')}<br><br><b>Failed child pipeline: </b>@{activity('Execute Pull_WFS_Data').output.pipelineName}'s run ID @{activity('Execute Pull_WFS_Data').output.pipelineRunId}<br><br><b>About this pipeline: </b>This pipeline is scheduled to run every 30 minutes and it orchestrates ingesting data from WFS APIs into local storage, processing that data, and preparing the full & delta files for publishing into HR Data Lake later. <br><br><b>Impact of this failure: </b>If delta publishing is turned on, then those entities will be stale on HR Data Lake. If this failure is not resolved by 5 AM/5 PM PT, full files (published at 6 AM/6 PM PT) on HR Data Lake will be stale.<br><br><b>What to verify?</b>:<li> Step 1: Look up the failed pipeline's runID @{activity('Execute Pull_WFS_Data').output.pipelineRunId} on Synapse Analytics --> Monitor --> Pipeline Runs. <li>Step 2: Click on that failed instance and drill into the pipeline execution steps until you find the failed task. <li> Step 3: Click on the failed task to look up the reason for failure. Refer to steps to recover from failure listed below. <br><br><b>Steps to recover from failure: </b> Refer to the troubleshooting guide linked to this incident. It points to the TSG MD files in this service's repository. <br><br><b>Contacts to notify if this results in stale HR DL data: </b><a href mailto:tr01subscribers@microsoft.com>TR01Subscribers@microsoft.com</a><br>\",\nSeverity: \"3\",\nCorrelationId: \"WFSPullFailure\"\n}",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "ICMConnector",
					"type": "LinkedServiceReference"
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"publishDeltaToHRDL": {
				"type": "bool",
				"defaultValue": false
			}
		},
		"folder": {
			"name": "WFS"
		},
		"annotations": []
	}
}